{
  "gui": {
		"background": {
			"type" : "background",
			"fileHeader" : "/interface/popup/header.png",
      "fileBody" : "/interface/popup/body.png",
      "fileFooter" : "/interface/popup/footer.png"
		},
		"windowtitle" : {
			"type" : "title",
			"title" : "Head setter",
			"subtitle" : "Set your animated head!",
			"position" : [0, 254],
			"icon" : {
				"type" : "image",
				"file" : "/interface/popup/warning.png",
				"position" : [0, 0],
				"zlevel" : -1
			}
		},
    
    "tbxSetHead": {
      "type": "textbox",
      "position": [138, 60],
      "maxWidth": 34,
      "hint": "name",
      "callback": "null",
      "enterKey": "setHead"
    },
    
    "lblHeadPath": {
      "type": "label",
      "position": [70, 60],
      "value": "/animatedhats/              .json"
    },

    "btnSave": {
      "type": "button",
      "caption": "Set head",
      "callback": "setHead",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "position": [150, 25]
    },

    "btnClear": {
      "type": "button",
      "caption": "Clear head",
      "callback": "clearHead",
      "base": "/interface/buttonred.png",
      "hover": "/interface/buttonredhover.png",
      "position": [205, 25]
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [250, 105]
    }
  },
  "scriptWidgetCallbacks": ["setHead", "clearHead"],
  "scripts" : [ "/interface/scripted/advancedhatter/headsetter.lua" ]
}